.jumbotron-1 {
  padding-top: 6rem;
}
/* .img-sl {
  width: 55%;
  height: 20%;
} */
.mt-20 {
  margin-top: 10rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
/* .mr-55 {
  margin-right: 55%;
} */
.mt-img {
  margin-top: 8%;
}
.bg-pinky {
  background-color: #32103a;
}
/* .img-fluid {
  width: 25%;
  height: 25%;
} */

.jumbotron {
  background-color: #513f55;
}

.gird-demo {
  background-color: #32103a;
}
.mb-10 {
  margin-bottom: 47%;
}

.feature {
  background-color: #513f55;
}
.hubungi {
  margin-left: 8%;
}
.margin-footer {
  margin-bottom: 10rem;
}

section {
  padding-top: 5rem;
}
